table {
    border-collapse: collapse;
}

td, th {
    border: 10px solid #999;
    padding: 0.5rem;
    text-align: left;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

