﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.png}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/animate.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/chosen.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/jquery.scrollbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/lightbox.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/magnific-popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/slick.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/fonts/flaticon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/megamenu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/dreaming-attribute.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/style.css}"/>
    <title>Furgan - HTML Template </title>
</head>
<body>
<header id="header" class="header style-02 header-dark">
    <div class="header-wrap-stick">
        <div class="header-position">
            <div class="header-middle">
                <div class="furgan-menu-wapper"></div>
                <div class="header-middle-inner">
                    <div class="header-search-menu">
                        <div class="block-menu-bar">
                            <a class="menu-bar menu-toggle" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                    <div class="header-logo-nav">
                        <div class="header-logo">
                            <a th:href="@{index.html}">
                                <img alt="Furgan" th:src="@{assets/images/logo.png}" class="logo">
                            </a>
                        </div>
                        <div class="box-header-nav menu-nocenter">
                            <ul id="menu-primary-menu"
                                class="clone-main-menu furgan-clone-mobile-menu furgan-nav main-menu">
                                <li id="menu-item-230"
                                    class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230 parent parent-megamenu item-megamenu menu-item-has-children">
                                    <a class="furgan-menu-item-title" title="Home" th:href="@{index.html}">Home</a>
                                    <span class="toggle-submenu"></span>
                                    <div class="submenu megamenu megamenu-home">
                                        <div class="demo-item">
                                            <div class="row">
                                                <div class="col-md-6 col-lg-4 col-sm-6">
                                                    <div class="dreaming_single_image dreaming_content_element az_align_left shadow-img">
                                                        <figure class="dreaming_wrapper az_figure">
                                                            <a th:href="@{index.html}" target="_self"
                                                               class="az_single_image-wrapper az_box_border_grey effect normal-effect dark-bg">
                                                                <img th:src="@{assets/images/demo001.jpg}"
                                                                     class="az_single_image-img attachment-full" alt="img">
                                                            </a>
                                                        </figure>
                                                    </div>
                                                    <h5 class="az_custom_heading">
                                                        <a th:href="@{index.html}">Home 01</a>
                                                    </h5>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-6">
                                                    <div class="dreaming_single_image dreaming_content_element az_align_left shadow-img">
                                                        <figure class="dreaming_wrapper az_figure">
                                                            <a th:href="@{home-02.html}" target="_self"
                                                               class="az_single_image-wrapper az_box_border_grey effect normal-effect dark-bg ">
                                                                <img th:src="@{assets/images/demo002.jpg}"
                                                                     class="az_single_image-img attachment-full" alt="img"></a>
                                                        </figure>
                                                    </div>
                                                    <h5 class="az_custom_heading">
                                                        <a th:href="@{home-02.html}">Home 02</a>
                                                    </h5>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-6">
                                                    <div class="dreaming_single_image dreaming_content_element az_align_left shadow-img">
                                                        <figure class="dreaming_wrapper az_figure">
                                                            <a th:href="@{home-03.html}" target="_self"
                                                               class="az_single_image-wrapper az_box_border_grey effect normal-effect dark-bg">
                                                                <img th:src="@{assets/images/demo003.jpg}"
                                                                     class="az_single_image-img attachment-full" alt="img">
                                                            </a>
                                                        </figure>
                                                    </div>
                                                    <h5 class="az_custom_heading">
                                                        <a th:href="@{home-03.html}">Home 03</a>
                                                    </h5>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-6">
                                                    <div class="dreaming_single_image dreaming_content_element az_align_left shadow-img">
                                                        <figure class="dreaming_wrapper az_figure">
                                                            <a th:href="@{home-04.html}" target="_self"
                                                               class="az_single_image-wrapper az_box_border_grey effect normal-effect dark-bg ">
                                                                <img th:src="@{assets/images/demo004.jpg}"
                                                                     class="az_single_image-img attachment-full" alt="img">
                                                            </a>
                                                        </figure>
                                                    </div>
                                                    <h5 class="az_custom_heading">
                                                        <a th:href="@{home-04.html}">Home 04</a></h5>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-6">
                                                    <div class="dreaming_single_image dreaming_content_element az_align_left shadow-img">
                                                        <figure class="dreaming_wrapper az_figure">
                                                            <a th:href="@{home-05.html}" target="_self"
                                                               class="az_single_image-wrapper az_box_border_grey effect normal-effect dark-bg">
                                                                <img th:src="@{assets/images/demo005.jpg}"
                                                                     class="az_single_image-img attachment-full" alt="img">
                                                            </a>
                                                        </figure>
                                                    </div>
                                                    <h5 class="az_custom_heading">
                                                        <a th:href="@{home-05.html}">Home 05</a>
                                                    </h5>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-6">
                                                    <div class="dreaming_single_image dreaming_content_element az_align_left shadow-img">
                                                        <figure class="dreaming_wrapper az_figure">
                                                            <a th:href="@{home-06.html}" target="_self"
                                                               class="az_single_image-wrapper az_box_border_grey effect normal-effect dark-bg ">
                                                                <img th:src="@{assets/images/demo006.jpg}"
                                                                     class="az_single_image-img attachment-full" alt="img">
                                                            </a>
                                                        </figure>
                                                    </div>
                                                    <h5 class="az_custom_heading">
                                                        <a th:href="@{home-06.html}">Home 06</a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li id="menu-item-228"
                                    class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-228 parent parent-megamenu item-megamenu menu-item-has-children">
                                    <a class="furgan-menu-item-title" title="Shop"
                                       th:href="@{shop.html}">Shop</a>
                                    <span class="toggle-submenu"></span>
                                    <div class="submenu megamenu megamenu-shop">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="furgan-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">Shop Layouts </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a th:href="@{shop.html}" target="_self">Shop Grid </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{shop-list.html}" target="_self">
                                                                    <span class="image">
                                                                        <img th:src="@{assets/images/label-new.jpg}"
                                                                             class="attachment-full size-full" alt="img">
                                                                    </span>
                                                                    Shop List
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{shop.html}" target="_self">No Sidebar </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{shop-leftsidebar.html}" target="_self">Left
                                                                    Sidebar </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{shop-rightsidebar.html}" target="_self">Right
                                                                    Sidebar </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="furgan-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">Product Layouts </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a th:href="@{single-product.html}" target="_self">Vertical
                                                                    Thumbnails </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-product-policy.html}"
                                                                   target="_self">
                                                                    <span class="image">
                                                                        <img th:src="@{assets/images/label-new.jpg}"
                                                                             class="attachment-full size-full" alt="img">
                                                                    </span>
                                                                    Extra Sidebar
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-product-rightsidebar.html}"
                                                                   target="_self">
                                                                    Right Sidebar </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-product-leftsidebar.html}"
                                                                   target="_self">
                                                                    Left Sidebar </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="furgan-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            Product Extends </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a th:href="@{single-product-bundle.html}"
                                                                   target="_self">
                                                                            <span class="image">
                                                                                <img th:src="@{assets/images/label-new.jpg}"
                                                                                     class="attachment-full size-full"
                                                                                     alt="img">
                                                                            </span>
                                                                    Product Bundle
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-product-360deg.html}"
                                                                   target="_self">
                                                                    <span class="image">
                                                                        <img th:src="@{assets/images/label-hot.jpg}"
                                                                             class="attachment-full size-full" alt="img">
                                                                    </span>
                                                                    Product 360 Deg </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-product-video.html}"
                                                                   target="_self">
                                                                    Video </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="furgan-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            Other Pages </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a th:href="@{cart.html}">Cart </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{wishlist.html}" target="_self">Wishlist </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{checkout.html}" target="_self">Checkout </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{order-tracking.html}" target="_self">Order
                                                                    Tracking </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{my-account.html}" target="_self">My Account </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="furgan-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            Product Types </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a th:href="@{single-product-simple.html}"
                                                                   target="_self">
                                                                    Simple </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-product.html}"
                                                                   target="_self">
                                                                            <span class="image"><img
                                                                                    th:src="@{assets/images/label-hot.jpg}"
                                                                                    class="attachment-full size-full"
                                                                                    alt="img"></span>
                                                                    Variable </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-product-external.html}"
                                                                   target="_self">
                                                                    External / Affiliate </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-product-group.html}"
                                                                   target="_self">
                                                                    Grouped </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-product-outofstock.html}"
                                                                   target="_self">
                                                                    Out Of Stock </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-product-onsale.html}"
                                                                   target="_self">
                                                                    On Sale </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li id="menu-item-229"
                                    class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-229 parent parent-megamenu item-megamenu menu-item-has-children">
                                    <a class="furgan-menu-item-title" title="Elements" href="#">Elements</a>
                                    <span class="toggle-submenu"></span>
                                    <div class="submenu megamenu megamenu-elements">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="furgan-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">Element 1 </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a th:href="@{banner.html}"
                                                                   target="_self">Banner </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{blog-element.html}"
                                                                   target="_self">Blog Element </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{categories-element.html}"
                                                                   target="_self">
                                                                    Categories Element </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{product-element.html}"
                                                                   target="_self">
                                                                    Product Element </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="furgan-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            Element 2 </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a th:href="@{client.html}"
                                                                   target="_self">
                                                                    Client </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{product-layout.html}"
                                                                   target="_self">
                                                                    Product Layout </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{google-map.html}"
                                                                   target="_self">
                                                                    Google map </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{iconbox.html}"
                                                                   target="_self">
                                                                    Icon Box </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{team.html}"
                                                                   target="_self">
                                                                    Team </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="furgan-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            Element 3 </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a th:href="@{instagram-feed.html}"
                                                                   target="_self">
                                                                    Instagram Feed </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{newsletter.html}"
                                                                   target="_self">
                                                                    Newsletter </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{testimonials.html}"
                                                                   target="_self">
                                                                    Testimonials </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li id="menu-item-996"
                                    class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-996 parent parent-megamenu item-megamenu menu-item-has-children">
                                    <a class="furgan-menu-item-title" title="Blog"
                                       th:href="@{blog.html}">Blog</a>
                                    <span class="toggle-submenu"></span>
                                    <div class="submenu megamenu megamenu-blog">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="furgan-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            Blog Layout </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a th:href="@{blog.html}" target="_self">No Sidebar </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{blog-leftsidebar.html}" target="_self">Left
                                                                    Sidebar </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{blog-rightsidebar.html}" target="_self">Right
                                                                    Sidebar </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{blog.html}" target="_self">Blog Standard </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{blog-grid.html}" target="_self">Blog Grid </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="furgan-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            Post Layout </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a th:href="@{single-post.html}" target="_self">No
                                                                    Sidebar </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-post-leftsidebar.html}" target="_self">Left
                                                                    Sidebar </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-post-rightsidebar.html}" target="_self">Right
                                                                    Sidebar </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-post-instagram.html}" target="_self">
                                                                    <span class="image">
                                                                        <img th:src="@{assets/images/label-hot.jpg}"
                                                                             class="attachment-full size-full" alt="img">
                                                                    </span>
                                                                    Instagram In Post
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-post-product.html}"
                                                                   target="_self">
                                                                    <span class="image">
                                                                        <img th:src="@{assets/images/label-new.jpg}"
                                                                             class="attachment-full size-full" alt="img">
                                                                    </span>
                                                                    Product In Post
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="furgan-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            Post Format </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a th:href="@{single-post.html}" target="_self">Standard </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-post-gallery.html}" target="_self">Gallery </a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{single-post-video.html}"
                                                                   target="_self">
                                                                    <span class="image">
                                                                        <img th:src="@{assets/images/label-hot.jpg}"
                                                                             class="attachment-full size-full" alt="img">
                                                                    </span>
                                                                    Video
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li id="menu-item-237"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-237 parent">
                                    <a class="furgan-menu-item-title" title="Pages" href="#">Pages</a>
                                    <span class="toggle-submenu"></span>
                                    <ul role="menu" class="submenu">
                                        <li id="menu-item-987"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-987">
                                            <a class="furgan-menu-item-title" title="About"
                                               th:href="@{about.html}">About</a></li>
                                        <li id="menu-item-988"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-988">
                                            <a class="furgan-menu-item-title" title="Contact"
                                               th:href="@{contact.html}">Contact</a></li>
                                        <li id="menu-item-990"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-990">
                                            <a class="furgan-menu-item-title" title="Page 404"
                                               th:href="@{404.html}">Page 404</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-control">
                        <div class="header-control-inner">
                            <div class="meta-dreaming">
                                <ul class="wpml-menu">
                                    <li class="menu-item furgan-dropdown block-language">
                                        <a href="#" data-furgan="furgan-dropdown">
                                            <img th:src="@{assets/images/en.png}"
                                                 alt="en">
                                            English
                                        </a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="#">
                                                    <img th:src="@{assets/images/it.png}"
                                                         alt="it">
                                                    Italiano
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <div class="wcml-dropdown product wcml_currency_switcher">
                                            <ul>
                                                <li class="wcml-cs-active-currency">
                                                    <a class="wcml-cs-item-toggle">USD</a>
                                                    <ul class="wcml-cs-submenu">
                                                        <li>
                                                            <a>EUR</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <div class="header-search furgan-dropdown">
                                    <div class="header-search-inner" data-furgan="furgan-dropdown">
                                        <a href="#" class="link-dropdown block-link">
                                            <span class="flaticon-magnifying-glass-1"></span>
                                        </a>
                                    </div>
                                    <div class="block-search">
                                        <form role="search" method="get"
                                              class="form-search block-search-form furgan-live-search-form">
                                            <div class="form-content search-box results-search">
                                                <div class="inner">
                                                    <input autocomplete="off" class="searchfield txt-livesearch input"
                                                           name="s" value="" placeholder="Search here..." type="text">
                                                </div>
                                            </div>
                                            <div class="category">
                                                <select title="product_cat" name="product_cat"
                                                        class="category-search-option">
                                                    <option value="0">All Categories</option>
                                                    <option class="level-0" value="light">Light</option>
                                                    <option class="level-0" value="chair">Chair</option>
                                                    <option class="level-0" value="table">Table</option>
                                                    <option class="level-0" value="bed">Bed</option>
                                                    <option class="level-0" value="new-arrivals">New arrivals</option>
                                                    <option class="level-0" value="lamp">Lamp</option>
                                                    <option class="level-0" value="specials">Specials</option>
                                                    <option class="level-0" value="sofas">Sofas</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn-submit">
                                                <span class="flaticon-magnifying-glass-1"></span>
                                            </button>
                                        </form><!-- block search -->
                                    </div>
                                </div>
                                <div class="furgan-dropdown-close">x</div>
                                <div class="menu-item block-user block-dreaming furgan-dropdown">
                                    <a class="block-link" href="#">
                                        <span class="flaticon-profile"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--dashboard is-active">
                                            <a href="#">Dashboard</a>
                                        </li>
                                        <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--orders">
                                            <a href="#">Orders</a>
                                        </li>
                                        <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--downloads">
                                            <a href="#">Downloads</a>
                                        </li>
                                        <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--edit-adchair">
                                            <a href="#">Address</a>
                                        </li>
                                        <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--edit-account">
                                            <a href="#">Account details</a>
                                        </li>
                                        <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--customer-logout">
                                            <a href="#">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="block-minicart block-dreaming furgan-mini-cart furgan-dropdown">
                                    <div class="shopcart-dropdown block-cart-link" data-furgan="furgan-dropdown">
                                        <a class="block-link link-dropdown" href="#">
                                            <span class="flaticon-cart"></span>
                                            <span class="count">3</span>
                                        </a>
                                    </div>
                                    <div class="widget furgan widget_shopping_cart">
                                        <div class="widget_shopping_cart_content">
                                            <ul class="furgan-mini-cart cart_list product_list_widget">
                                                <li class="furgan-mini-cart-item mini_cart_item">
                                                    <a href="#" class="remove remove_from_cart_button">×</a>
                                                    <a href="#">
                                                        <img th:src="@{assets/images/apro134-1-600x778.jpg}"
                                                             class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                             alt="img" width="600" height="778">T-shirt with skirt – Pink&nbsp;
                                                    </a>
                                                    <span class="quantity">1 × <span
                                                            class="furgan-Price-amount amount"><span
                                                            class="furgan-Price-currencySymbol">$</span>150.00</span></span>
                                                </li>
                                                <li class="furgan-mini-cart-item mini_cart_item">
                                                    <a href="#" class="remove remove_from_cart_button">×</a>
                                                    <a href="#">
                                                        <img th:src="@{assets/images/apro1113-600x778.jpg}"
                                                             class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                             alt="img" width="600" height="778">Alarm Clock&nbsp;
                                                    </a>
                                                    <span class="quantity">1 × <span
                                                            class="furgan-Price-amount amount"><span
                                                            class="furgan-Price-currencySymbol">$</span>129.00</span></span>
                                                </li>
                                                <li class="furgan-mini-cart-item mini_cart_item">
                                                    <a href="#" class="remove remove_from_cart_button">×</a>
                                                    <a href="#">
                                                        <img th:src="@{assets/images/apro201-1-600x778.jpg}"
                                                             class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                             alt="img" width="600" height="778">Chair AAC&nbsp;
                                                    </a>
                                                    <span class="quantity">1 × <span
                                                            class="furgan-Price-amount amount"><span
                                                            class="furgan-Price-currencySymbol">$</span>139.00</span></span>
                                                </li>
                                            </ul>
                                            <p class="furgan-mini-cart__total total"><strong>Subtotal:</strong>
                                                <span class="furgan-Price-amount amount"><span
                                                        class="furgan-Price-currencySymbol">$</span>418.00</span>
                                            </p>
                                            <p class="furgan-mini-cart__buttons buttons">
                                                <a th:href="@{cart.html}" class="button furgan-forward">Viewcart</a>
                                                <a th:href="@{checkout.html}" class="button checkout furgan-forward">Checkout</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-mobile-left">
            <div class="block-menu-bar">
                <a class="menu-bar menu-toggle" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="header-search furgan-dropdown">
                <div class="header-search-inner" data-furgan="furgan-dropdown">
                    <a href="#" class="link-dropdown block-link">
                        <span class="flaticon-magnifying-glass-1"></span>
                    </a>
                </div>
                <div class="block-search">
                    <form role="search" method="get"
                          class="form-search block-search-form furgan-live-search-form">
                        <div class="form-content search-box results-search">
                            <div class="inner">
                                <input autocomplete="off" class="searchfield txt-livesearch input" name="s" value=""
                                       placeholder="Search here..." type="text">
                            </div>
                        </div>
                        <div class="category">
                            <select title="product_cat" name="product_cat" class="category-search-option">
                                <option value="0">All Categories</option>
                                <option class="level-0" value="light">Light</option>
                                <option class="level-0" value="chair">Chair</option>
                                <option class="level-0" value="table">Table</option>
                                <option class="level-0" value="bed">Bed</option>
                                <option class="level-0" value="new-arrivals">New arrivals</option>
                                <option class="level-0" value="lamp">Lamp</option>
                                <option class="level-0" value="specials">Specials</option>
                                <option class="level-0" value="sofas">Sofas</option>
                            </select>
                        </div>
                        <button type="submit" class="btn-submit">
                            <span class="flaticon-magnifying-glass-1"></span>
                        </button>
                    </form><!-- block search -->
                </div>
            </div>
            <ul class="wpml-menu">
                <li class="menu-item furgan-dropdown block-language">
                    <a href="#" data-furgan="furgan-dropdown">
                        <img th:src="@{assets/images/en.png}"
                             alt="en">
                        English
                    </a>
                    <span class="toggle-submenu"></span>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="#">
                                <img th:src="@{assets/images/it.png}"
                                     alt="it">
                                Italiano
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <div class="wcml-dropdown product wcml_currency_switcher">
                        <ul>
                            <li class="wcml-cs-active-currency">
                                <a class="wcml-cs-item-toggle">USD</a>
                                <ul class="wcml-cs-submenu">
                                    <li>
                                        <a>EUR</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-mobile-mid">
            <div class="header-logo">
                <a th:href="@{index.html}"><img alt="Furgan" th:src="@{assets/images/logo.png}" class="logo"></a>
            </div>
        </div>
        <div class="header-mobile-right">
            <div class="header-control-inner">
                <div class="meta-dreaming">
                    <div class="menu-item block-user block-dreaming furgan-dropdown">
                        <a class="block-link" href="#">
                            <span class="flaticon-profile"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--dashboard is-active">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--orders">
                                <a href="#">Orders</a>
                            </li>
                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--downloads">
                                <a href="#">Downloads</a>
                            </li>
                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--edit-adchair">
                                <a href="#">Address</a>
                            </li>
                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--edit-account">
                                <a href="#">Account details</a>
                            </li>
                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--customer-logout">
                                <a href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="block-minicart block-dreaming furgan-mini-cart furgan-dropdown">
                        <div class="shopcart-dropdown block-cart-link" data-furgan="furgan-dropdown">
                            <a class="block-link link-dropdown" href="#">
                                <span class="flaticon-cart"></span>
                                <span class="count">3</span>
                            </a>
                        </div>
                        <div class="widget furgan widget_shopping_cart">
                            <div class="widget_shopping_cart_content">
                                <ul class="furgan-mini-cart cart_list product_list_widget">
                                    <li class="furgan-mini-cart-item mini_cart_item">
                                        <a href="#" class="remove remove_from_cart_button">×</a>
                                        <a href="#">
                                            <img th:src="@{assets/images/apro134-1-600x778.jpg}"
                                                 class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                 alt="img" width="600" height="778">T-shirt with skirt – Pink&nbsp;
                                        </a>
                                        <span class="quantity">1 × <span
                                                class="furgan-Price-amount amount"><span
                                                class="furgan-Price-currencySymbol">$</span>150.00</span></span>
                                    </li>
                                    <li class="furgan-mini-cart-item mini_cart_item">
                                        <a href="#" class="remove remove_from_cart_button">×</a>
                                        <a href="#">
                                            <img th:src="@{assets/images/apro1113-600x778.jpg}"
                                                 class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                 alt="img" width="600" height="778">Alarm Clock&nbsp;
                                        </a>
                                        <span class="quantity">1 × <span
                                                class="furgan-Price-amount amount"><span
                                                class="furgan-Price-currencySymbol">$</span>129.00</span></span>
                                    </li>
                                    <li class="furgan-mini-cart-item mini_cart_item">
                                        <a href="#" class="remove remove_from_cart_button">×</a>
                                        <a href="#">
                                            <img th:src="@{assets/images/apro201-1-600x778.jpg}"
                                                 class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                 alt="img" width="600" height="778">Chair AAC&nbsp;
                                        </a>
                                        <span class="quantity">1 × <span
                                                class="furgan-Price-amount amount"><span
                                                class="furgan-Price-currencySymbol">$</span>139.00</span></span>
                                    </li>
                                </ul>
                                <p class="furgan-mini-cart__total total"><strong>Subtotal:</strong>
                                    <span class="furgan-Price-amount amount"><span
                                            class="furgan-Price-currencySymbol">$</span>418.00</span>
                                </p>
                                <p class="furgan-mini-cart__buttons buttons">
                                    <a th:href="@{cart.html}" class="button furgan-forward">Viewcart</a>
                                    <a th:href="@{checkout.html}" class="button checkout furgan-forward">Checkout</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main-container text-center error-404 not-found">
    <div class="container">
        <h1 class="title-404">404</h1>
        <h1 class="title">Opps! This page Could Not Be Found!</h1>
        <p class="subtitle">Sorry bit the page you are looking for does not exist, have been removed or name changed</p>
        <!-- .page-content -->
        <a th:href="@{index.html}" class="button">Back to hompage</a>
    </div>
</div>
<footer id="footer" class="footer style-01">
    <div class="section-001 section-009">
        <div class="container">
            <div class="furgan-newsletter style-01">
                <div class="newsletter-inner">
                    <div class="newsletter-info">
                        <div class="newsletter-wrap">
                            <h3 class="title">Newsletter</h3>
                            <h4 class="subtitle">Get Discount 30% Off</h4>
                            <p class="desc">Suspendisse netus proin eleifend fusce sollicitudin potenti vel magnis
                                nascetur</p>
                        </div>
                    </div>
                    <div class="newsletter-form-wrap">
                        <div class="newsletter-form-inner">
                            <input class="email email-newsletter" name="email" placeholder="Enter your email ..."
                                   type="email">
                            <a href="#" class="button btn-submit submit-newsletter">
                                <span class="text">Subscribe</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-010">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyright 2020 Furgan</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <div class="furgan-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                        <i class="fa fa-facebook"></i>
                                </li>
                                <li>
                                        <i class="fa fa-instagram"></i>
                                </li>
                                <li>
                                        <i class="fa fa-twitter"></i>
                                </li>
                                <li>
                                        <i class="fa fa-pinterest-p"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a th:href="@{index.html}">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a th:href="@{wishlist.html}">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a th:href="@{cart.html}">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a th:href="@{my-account.html}">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop active">
    <i class="fa fa-angle-double-up"></i>
</a>
<script th:src="@{assets/js/jquery-1.12.4.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/chosen.min.js}"></script>
<script th:src="@{assets/js/countdown.min.js}"></script>
<script th:src="@{assets/js/jquery.scrollbar.min.js}"></script>
<script th:src="@{assets/js/lightbox.min.js}"></script>
<script th:src="@{assets/js/magnific-popup.min.js}"></script>
<script th:src="@{assets/js/slick.js}"></script>
<script th:src="@{assets/js/jquery.zoom.min.js}"></script>
<script th:src="@{assets/js/threesixty.min.js}"></script>
<script th:src="@{assets/js/jquery-ui.min.js}"></script>
<script th:src="@{assets/js/mobilemenu.js}"></script>
<script src='http://www.google.cn/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>
<script th:src="@{assets/js/functions.js}"></script>
</body>
</html>