﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.png}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/animate.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/chosen.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/jquery.scrollbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/lightbox.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/magnific-popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/slick.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/fonts/flaticon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/megamenu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/dreaming-attribute.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/style.css}"/>
    <title>Furgan - HTML Template </title>
    <script th:src="@{/assets/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/chosen.min.js}"></script>
    <script th:src="@{/assets/js/countdown.min.js}"></script>
    <script th:src="@{/assets/js/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/assets/js/lightbox.min.js}"></script>
    <script th:src="@{/assets/js/magnific-popup.min.js}"></script>
    <script th:src="@{/assets/js/slick.js}"></script>
    <script th:src="@{/assets/js/jquery.zoom.min.js}"></script>
    <script th:src="@{/assets/js/threesixty.min.js}"></script>
    <script th:src="@{/assets/js/jquery-ui.min.js}"></script>
    <script th:src="@{/assets/js/mobilemenu.js}"></script>
    <script src='http://www.google.cn/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>
    <script th:src="@{/assets/js/functions.js}"></script>
    <script type="text/javascript" th:src="@{/js/shoppingchart.js}"></script>
</head>
<body>
<header th:replace="header.html :: header"> </header>
<div class="banner-wrapper has_background">
    <img th:src="@{assets/images/banner-for-all2.jpg}"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">Cart</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a th:href="@{index.html}"><span>Home</span></a></li>
                <li class="trail-item trail-end active"><span>Cart</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<main class="site-main main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="furgan">
                        <div class="furgan-notices-wrapper"></div>
                        <form class="furgan-cart-form">
                            <table id="cart-stupid-table" class="shop_table shop_table_responsive cart furgan-cart-form__contents"
                                   cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="product-remove">&nbsp;</th>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer id="footer" class="footer style-01">
    <div class="section-010">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyright 2020 Furgan</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <div class="furgan-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                        <i class="fa fa-facebook"></i>
                                </li>
                                <li>
                                        <i class="fa fa-instagram"></i>
                                </li>
                                <li>
                                        <i class="fa fa-twitter"></i>
                                </li>
                                <li>
                                        <i class="fa fa-pinterest-p"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        showInCartTable();
    </script>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a th:href="@{index.html}">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a th:href="@{wishlist.html}">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a th:href="@{cart.html}">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a th:href="@{my-account.html}">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop active">
    <i class="fa fa-angle-double-up"></i>
</a>

</body>
</html>