﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.png}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/animate.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/chosen.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/jquery.scrollbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/lightbox.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/magnific-popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/slick.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/fonts/flaticon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/megamenu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/dreaming-attribute.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/style.css}"/>
    <script th:src="@{/assets/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/chosen.min.js}"></script>
    <script th:src="@{/assets/js/countdown.min.js}"></script>
    <script th:src="@{/assets/js/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/assets/js/lightbox.min.js}"></script>
    <script th:src="@{/assets/js/magnific-popup.min.js}"></script>
    <script th:src="@{/assets/js/slick.js}"></script>
    <script th:src="@{/assets/js/jquery.zoom.min.js}"></script>
    <script th:src="@{/assets/js/threesixty.min.js}"></script>
    <script th:src="@{/assets/js/jquery-ui.min.js}"></script>
    <script th:src="@{/assets/js/mobilemenu.js}"></script>
    <script th:src="@{/assets/js/functions.js}"></script>
    <script type="text/javascript" th:src="@{/js/shoppingchart.js}"></script>
    <title>Furgan - HTML Template </title>
</head>
<body>
<header th:insert="header.html :: header"> </header>
<div class="banner-wrapper has_background">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">Checkout</h1>
    </div>
</div>

<main class="site-main  main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="furgan">
                        <div class="furgan-notices-wrapper"></div>
                        <form name="checkout" method="post" class="checkout furgan-checkout"
                              action="" enctype="multipart/form-data"
                              novalidate="novalidate">
                            <div class="col2-set" id="customer_details">
                                <div class="col-1">
                                    <div class="furgan-billing-fields">
                                        <h3>Billing details</h3>
                                        <div class="furgan-billing-fields__field-wrapper">
                                            <p class="form-row form-row-first validate-required"
                                               id="billing_first_name_field" data-priority="10"><label
                                                    for="billing_first_name" class="">First name&nbsp;<abbr
                                                    class="required" title="required">*</abbr></label><span
                                                    class="furgan-input-wrapper"><input type="text"
                                                                                             class="input-text "
                                                                                             name="billing_first_name"
                                                                                             id="billing_first_name"
                                                                                             placeholder="" value=""
                                                                                             autocomplete="given-name"></span>
                                            </p>
                                            <p class="form-row form-row-last validate-required"
                                               id="billing_last_name_field" data-priority="20"><label
                                                    for="billing_last_name" class="">Last name&nbsp;<abbr
                                                    class="required" title="required">*</abbr></label><span
                                                    class="furgan-input-wrapper"><input type="text"
                                                                                             class="input-text "
                                                                                             name="billing_last_name"
                                                                                             id="billing_last_name"
                                                                                             placeholder="" value=""
                                                                                             autocomplete="family-name"></span>
                                            </p>
                                            <p class="form-row form-row-wide" id="upsAccount_field"
                                               data-priority="30"><label for="upsAccount" class="">UPS Account&nbsp;<abbr
                                                    class="required" title="required">*</abbr></label><span
                                                    class="furgan-input-wrapper"><input type="text"
                                                                                        class="input-text "
                                                                                        name="billing_company"
                                                                                        id="upsAccount"
                                                                                        placeholder="" value=""
                                                                                        autocomplete="organization"></span>
                                            </p>

                                            <p class="form-row form-row-wide adchair-field validate-required"
                                               id="billing_addr_X" data-priority="50"><label
                                                    for="billing_addr_text_X" class="">X&nbsp;<abbr
                                                    class="required" title="required">*</abbr></label><span
                                                    class="furgan-input-wrapper"><input type="text"
                                                                                             class="input-text "
                                                                                             name="billing_adchair_1"
                                                                                             id="billing_addr_text_X"
                                                                                             placeholder="House number and street name"
                                                                                             value=""
                                                                                             autocomplete="adchair-line1"
                                                                                             data-placeholder="House number and street name"></span>
                                            </p>

                                            <p class="form-row form-row-wide adchair-field validate-required"
                                               id="billing_addr_Y" data-priority="50"><label
                                                    for="billing_addr_text_Y" class="">Y&nbsp;<abbr
                                                    class="required" title="required">*</abbr></label><span
                                                    class="furgan-input-wrapper"><input type="text"
                                                                                        class="input-text "
                                                                                        name="billing_adchair_1"
                                                                                        id="billing_addr_text_Y"
                                                                                        placeholder="House number and street name"
                                                                                        value=""
                                                                                        autocomplete="adchair-line1"
                                                                                        data-placeholder="House number and street name"></span>
                                            </p>
                                            </div>
                                    </div>

                                </div>
                                <div class="col-2">
                                    <div class="furgan-shipping-fields">
                                    </div>
                                    <div class="furgan-additional-fields">
                                        <h3>Additional information</h3>
                                        <div class="furgan-additional-fields__field-wrapper">
                                            <p class="form-row notes" id="order_comments_field" data-priority=""><label
                                                    for="order_comments" class="">Order notes&nbsp;<span
                                                    class="optional">(optional)</span></label><span
                                                    class="furgan-input-wrapper"><textarea name="order_comments"
                                                                                                class="input-text "
                                                                                                id="order_comments"
                                                                                                placeholder="Notes about your order, e.g. special notes for delivery."
                                                                                                rows="2"
                                                                                                cols="5"></textarea></span>
                                            </p></div>
                                    </div>
                                </div>
                            </div>
                            <h3 id="order_review_heading">Your order</h3>
                            <div id="order_review" class="furgan-checkout-review-order">
                                <table id="cart_table" class="shop_table furgan-checkout-review-order-table">
                                    <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                    </thead>
                                    <script type="text/javascript">
                                        showIntbody();
                                    </script>
                                    <tbody >
                                    </tbody>
                                    <tfoot>

                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td><strong><span class="furgan-Price-amount amount"><span
                                                class="furgan-Price-currencySymbol">$</span>0</span></strong>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <input type="hidden" name="lang" value="en">
                                <div id="payment" class="furgan-checkout-payment">
                                    <ul class="wc_payment_methods payment_methods methods">
                                        <li class="wc_payment_method payment_method_bacs">
                                            <input id="payment_method_bacs" type="radio" class="input-radio"
                                                   name="payment_method" value="bacs" checked="checked"
                                                   data-order_button_text="">
                                            <label for="payment_method_bacs">
                                                Direct bank transfer </label>
                                            <div class="payment_box payment_method_bacs">
                                                <p>Make your payment directly into our bank account. Please use your
                                                    Order ID as the payment reference. Your order will not be shipped
                                                    until the funds have cleared in our account.</p>
                                            </div>
                                        </li>

                                    </ul>
                                    <div class="form-row place-order">
                                        <noscript>
                                            Since your browser does not support JavaScript, or it is disabled, please
                                            ensure you click the <em>Update Totals</em> button before placing your
                                            order. You may be charged more than the amount stated above if you fail to
                                            do so. <br/>
                                            <button type="submit" class="button alt"
                                                    name="furgan_checkout_update_totals" value="Update totals">
                                                Update totals
                                            </button>
                                        </noscript>
                                        <div class="furgan-terms-and-conditions-wrapper">
                                            <div class="furgan-privacy-policy-text"><p id="error_info_checkout" style="color: #e4606d"></p>
                                            </div>
                                        </div>
                                        <button type="button" class="button alt" name="furgan_checkout_place_order"
                                                id="place_order" value="Place order" data-value="Place order"
                                                onclick="checkOut()">
                                        Place order
                                        </button>
                                        <input type="hidden" id="furgan-process-checkout-nonce"
                                               name="furgan-process-checkout-nonce" value="634590c981"><input
                                            type="hidden" name="_wp_http_referer"
                                            value="/furgan/?furgan-ajax=update_order_review"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    showIntbody();
</script>
<footer id="footer" class="footer style-01">
    <div class="section-010">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyright 2020 Furgan</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <div class="furgan-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                        <i class="fa fa-facebook"></i>
                                </li>
                                <li>
                                        <i class="fa fa-instagram"></i>
                                </li>
                                <li>
                                        <i class="fa fa-twitter"></i>
                                </li>
                                <li>
                                        <i class="fa fa-pinterest-p"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a th:href="@{index.html}">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a th:href="@{wishlist.html}">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a th:href="@{cart.html}">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a th:href="@{my-account.html}">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop active">
    <i class="fa fa-angle-double-up"></i>
</a>
</body>
</html>