﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.png}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/animate.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/chosen.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/jquery.scrollbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/lightbox.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/magnific-popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/slick.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/fonts/flaticon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/megamenu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/dreaming-attribute.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/style.css}"/>

    <script type="text/javascript" th:src="@{/js/shoppingchart.js}"></script>


    <title>Furgan - HTML Template </title>
</head>
<body>
<header th:replace="header.html :: header"> </header>

<!--<header id="header" class="header style-02 header-dark header-transparent">-->
<!--    <div class="header-wrap-stick">-->
<!--        <div class="header-position">-->
<!--            <div class="header-middle">-->
<!--                <div class="furgan-menu-wapper"></div>-->
<!--                <div class="header-middle-inner">-->
<!--                    <div class="header-search-menu">-->
<!--                        <div class="block-menu-bar">-->
<!--                            <a class="menu-bar menu-toggle" href="#">-->
<!--                                <span></span>-->
<!--                                <span></span>-->
<!--                                <span></span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="header-logo-nav">-->
<!--                        <div class="header-logo">-->
<!--                            <a th:href="@{index.html}"><img alt="Furgan" th:src="@{assets/images/logo.png}"-->
<!--                                                                     class="logo"></a></div>-->
<!--                    </div>-->
<!--                    <div class="header-control">-->
<!--                        <div class="header-control-inner">-->
<!--                            <div class="meta-dreaming">-->
<!--                                <div class="header-search furgan-dropdown">-->
<!--                                    <div class="header-search-inner" data-furgan="furgan-dropdown">-->
<!--                                        <a href="#" class="link-dropdown block-link">-->
<!--                                            <span class="flaticon-magnifying-glass-1"></span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="block-search">-->
<!--                                        <form role="search" method="get"-->
<!--                                              class="form-search block-search-form furgan-live-search-form">-->
<!--                                            <div class="form-content search-box results-search">-->
<!--                                                <div class="inner">-->
<!--                                                    <input autocomplete="off" class="searchfield txt-livesearch input"-->
<!--                                                           name="s" value="" placeholder="Search here..." type="text">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <input name="post_type" value="product" type="hidden">-->
<!--                                            <input name="taxonomy" value="product_cat" type="hidden">-->
<!--                                            <div class="category">-->
<!--                                                <select title="product_cat" name="product_cat" id="64788262"-->
<!--                                                        class="category-search-option"-->
<!--                                                        tabindex="-1" style="display: none;">-->
<!--                                                    <option value="0">All Categories</option>-->
<!--                                                    <option class="level-0" value="light">Light</option>-->
<!--                                                    <option class="level-0" value="chair">Chair</option>-->
<!--                                                    <option class="level-0" value="table">Table</option>-->
<!--                                                    <option class="level-0" value="bed">Bed</option>-->
<!--                                                    <option class="level-0" value="new-arrivals">New arrivals</option>-->
<!--                                                    <option class="level-0" value="lamp">Lamp</option>-->
<!--                                                    <option class="level-0" value="specials">Specials</option>-->
<!--                                                    <option class="level-0" value="sofas">Sofas</option>-->
<!--                                                </select>-->
<!--                                            </div>-->
<!--                                            <button type="submit" class="btn-submit">-->
<!--                                                <span class="flaticon-magnifying-glass-1"></span>-->
<!--                                            </button>-->
<!--                                        </form>&lt;!&ndash; block search &ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="furgan-dropdown-close">x</div>-->
<!--                                <div class="menu-item block-user block-dreaming furgan-dropdown">-->
<!--                                    <a class="block-link" th:href="@{my-account.html}">-->
<!--                                        <span class="flaticon-profile"></span>-->
<!--                                    </a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link&#45;&#45;dashboard is-active">-->
<!--                                            <a href="#">Dashboard</a>-->
<!--                                        </li>-->
<!--                                        <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link&#45;&#45;orders">-->
<!--                                            <a href="#">Orders</a>-->
<!--                                        </li>-->
<!--                                        <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link&#45;&#45;downloads">-->
<!--                                            <a href="#">Downloads</a>-->
<!--                                        </li>-->
<!--                                        <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link&#45;&#45;edit-adchair">-->
<!--                                            <a href="#">Address</a>-->
<!--                                        </li>-->
<!--                                        <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link&#45;&#45;edit-account">-->
<!--                                            <a href="#">Account details</a>-->
<!--                                        </li>-->
<!--                                        <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link&#45;&#45;customer-logout">-->
<!--                                            <a href="#">Logout</a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="block-minicart block-dreaming furgan-mini-cart furgan-dropdown">-->
<!--                                    <div class="shopcart-dropdown block-cart-link" data-furgan="furgan-dropdown">-->
<!--                                        <a class="block-link link-dropdown" th:href="@{cart.html}">-->
<!--                                            <span class="flaticon-cart"></span>-->
<!--                                            <span class="count">3</span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="widget furgan widget_shopping_cart">-->
<!--                                        <div class="widget_shopping_cart_content">-->
<!--                                            <ul class="furgan-mini-cart cart_list product_list_widget">-->
<!--                                                <li class="furgan-mini-cart-item mini_cart_item">-->
<!--                                                    <a href="#" class="remove remove_from_cart_button">×</a>-->
<!--                                                    <a href="#">-->
<!--                                                        <img th:src="@{assets/images/apro134-1-600x778.jpg}"-->
<!--                                                             class="attachment-furgan_thumbnail size-furgan_thumbnail"-->
<!--                                                             alt="img" width="600" height="778">T-shirt with skirt – Pink&nbsp;-->
<!--                                                    </a>-->
<!--                                                    <span class="quantity">1 × <span-->
<!--                                                            class="furgan-Price-amount amount"><span-->
<!--                                                            class="furgan-Price-currencySymbol">$</span>150.00</span></span>-->
<!--                                                </li>-->
<!--                                                <li class="furgan-mini-cart-item mini_cart_item">-->
<!--                                                    <a href="#" class="remove remove_from_cart_button">×</a>-->
<!--                                                    <a href="#">-->
<!--                                                        <img th:src="@{assets/images/apro1113-600x778.jpg}"-->
<!--                                                             class="attachment-furgan_thumbnail size-furgan_thumbnail"-->
<!--                                                             alt="img" width="600" height="778">Alarm Clock&nbsp;-->
<!--                                                    </a>-->
<!--                                                    <span class="quantity">1 × <span-->
<!--                                                            class="furgan-Price-amount amount"><span-->
<!--                                                            class="furgan-Price-currencySymbol">$</span>129.00</span></span>-->
<!--                                                </li>-->
<!--                                                <li class="furgan-mini-cart-item mini_cart_item">-->
<!--                                                    <a href="#" class="remove remove_from_cart_button">×</a>-->
<!--                                                    <a href="#">-->
<!--                                                        <img th:src="@{assets/images/apro201-1-600x778.jpg}"-->
<!--                                                             class="attachment-furgan_thumbnail size-furgan_thumbnail"-->
<!--                                                             alt="img" width="600" height="778">Chair AAC&nbsp;-->
<!--                                                    </a>-->
<!--                                                    <span class="quantity">1 × <span-->
<!--                                                            class="furgan-Price-amount amount"><span-->
<!--                                                            class="furgan-Price-currencySymbol">$</span>139.00</span></span>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                            <p class="furgan-mini-cart__total total"><strong>Subtotal:</strong>-->
<!--                                                <span class="furgan-Price-amount amount"><span-->
<!--                                                        class="furgan-Price-currencySymbol">$</span>418.00</span>-->
<!--                                            </p>-->
<!--                                            <p class="furgan-mini-cart__buttons buttons">-->
<!--                                                <a th:href="@{cart.html}" class="button furgan-forward">Viewcart</a>-->
<!--                                                <a th:href="@{checkout.html}" class="button checkout furgan-forward">Checkout</a>-->
<!--                                            </p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="header-mobile">-->
<!--        <div class="header-mobile-left">-->
<!--            <div class="block-menu-bar">-->
<!--                <a class="menu-bar menu-toggle" href="#">-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                    <span></span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="header-search furgan-dropdown">-->
<!--                <div class="header-search-inner" data-furgan="furgan-dropdown">-->
<!--                    <a href="#" class="link-dropdown block-link">-->
<!--                        <span class="flaticon-magnifying-glass-1"></span>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="block-search">-->
<!--                    <form role="search" method="get"-->
<!--                          class="form-search block-search-form furgan-live-search-form">-->
<!--                        <div class="form-content search-box results-search">-->
<!--                            <div class="inner">-->
<!--                                <input autocomplete="off" class="searchfield txt-livesearch input" name="s" value=""-->
<!--                                       placeholder="Search here..." type="text">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <input name="post_type" value="product" type="hidden">-->
<!--                        <input name="taxonomy" value="product_cat" type="hidden">-->
<!--                        <div class="category">-->
<!--                            <select title="product_cat" name="product_cat"-->
<!--                                    class="category-search-option" tabindex="-1"-->
<!--                            >-->
<!--                                <option value="0">All Categories</option>-->
<!--                                <option class="level-0" value="light">Light</option>-->
<!--                                <option class="level-0" value="chair">Chair</option>-->
<!--                                <option class="level-0" value="table">Table</option>-->
<!--                                <option class="level-0" value="bed">Bed</option>-->
<!--                                <option class="level-0" value="new-arrivals">New arrivals</option>-->
<!--                                <option class="level-0" value="lamp">Lamp</option>-->
<!--                                <option class="level-0" value="specials">Specials</option>-->
<!--                                <option class="level-0" value="sofas">Sofas</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <button type="submit" class="btn-submit">-->
<!--                            <span class="flaticon-magnifying-glass-1"></span>-->
<!--                        </button>-->
<!--                    </form>&lt;!&ndash; block search &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--            <ul class="wpml-menu">-->
<!--                <li class="menu-item furgan-dropdown block-language">-->
<!--                    <a href="#" data-furgan="furgan-dropdown">-->
<!--                        <img th:src="@{assets/images/en.png}"-->
<!--                             alt="en" width="18" height="12">-->
<!--                        English-->
<!--                    </a>-->
<!--                    <span class="toggle-submenu"></span>-->
<!--                    <ul class="sub-menu">-->
<!--                        <li class="menu-item">-->
<!--                            <a href="#">-->
<!--                                <img th:src="@{assets/images/it.png}"-->
<!--                                     alt="it" width="18" height="12">-->
<!--                                Italiano-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="menu-item">-->
<!--                    <div class="wcml-dropdown product wcml_currency_switcher">-->
<!--                        <ul>-->
<!--                            <li class="wcml-cs-active-currency">-->
<!--                                <a class="wcml-cs-item-toggle">USD</a>-->
<!--                                <ul class="wcml-cs-submenu">-->
<!--                                    <li>-->
<!--                                        <a>EUR</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="header-mobile-mid">-->
<!--            <div class="header-logo">-->
<!--                <a th:href="@{index.html}"><img alt="Furgan" th:src="@{assets/images/logo.png}" class="logo"></a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="header-mobile-right">-->
<!--            <div class="header-control-inner">-->
<!--                <div class="meta-dreaming">-->
<!--                    <div class="menu-item block-user block-dreaming furgan-dropdown">-->
<!--                        <a class="block-link" th:href="@{my-account.html}">-->
<!--                            <span class="flaticon-profile"></span>-->
<!--                        </a>-->
<!--                        <ul class="sub-menu">-->
<!--                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link&#45;&#45;dashboard is-active">-->
<!--                                <a href="#">Dashboard</a>-->
<!--                            </li>-->
<!--                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link&#45;&#45;orders">-->
<!--                                <a href="#">Orders</a>-->
<!--                            </li>-->
<!--                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link&#45;&#45;downloads">-->
<!--                                <a href="#">Downloads</a>-->
<!--                            </li>-->
<!--                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link&#45;&#45;edit-adchair">-->
<!--                                <a href="#">Address</a>-->
<!--                            </li>-->
<!--                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link&#45;&#45;edit-account">-->
<!--                                <a href="#">Account details</a>-->
<!--                            </li>-->
<!--                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link&#45;&#45;customer-logout">-->
<!--                                <a href="#">Logout</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="block-minicart block-dreaming furgan-mini-cart furgan-dropdown">-->
<!--                        <div class="shopcart-dropdown block-cart-link" data-furgan="furgan-dropdown">-->
<!--                            <a class="block-link link-dropdown" th:href="@{cart.html}">-->
<!--                                <span class="flaticon-cart"></span>-->
<!--                                <span class="count">3</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="widget furgan widget_shopping_cart">-->
<!--                            <div class="widget_shopping_cart_content">-->
<!--                                <ul class="furgan-mini-cart cart_list product_list_widget">-->
<!--                                    <li class="furgan-mini-cart-item mini_cart_item">-->
<!--                                        <a href="#" class="remove remove_from_cart_button">×</a>-->
<!--                                        <a href="#">-->
<!--                                            <img th:src="@{assets/images/apro134-1-600x778.jpg}"-->
<!--                                                 class="attachment-furgan_thumbnail size-furgan_thumbnail"-->
<!--                                                 alt="img" width="600" height="778">T-shirt with skirt – Pink&nbsp;-->
<!--                                        </a>-->
<!--                                        <span class="quantity">1 × <span-->
<!--                                                class="furgan-Price-amount amount"><span-->
<!--                                                class="furgan-Price-currencySymbol">$</span>150.00</span></span>-->
<!--                                    </li>-->
<!--                                    <li class="furgan-mini-cart-item mini_cart_item">-->
<!--                                        <a href="#" class="remove remove_from_cart_button">×</a>-->
<!--                                        <a href="#">-->
<!--                                            <img th:src="@{assets/images/apro1113-600x778.jpg}"-->
<!--                                                 class="attachment-furgan_thumbnail size-furgan_thumbnail"-->
<!--                                                 alt="img" width="600" height="778">Alarm Clock&nbsp;-->
<!--                                        </a>-->
<!--                                        <span class="quantity">1 × <span-->
<!--                                                class="furgan-Price-amount amount"><span-->
<!--                                                class="furgan-Price-currencySymbol">$</span>129.00</span></span>-->
<!--                                    </li>-->
<!--                                    <li class="furgan-mini-cart-item mini_cart_item">-->
<!--                                        <a href="#" class="remove remove_from_cart_button">×</a>-->
<!--                                        <a href="#">-->
<!--                                            <img th:src="@{assets/images/apro201-1-600x778.jpg}"-->
<!--                                                 class="attachment-furgan_thumbnail size-furgan_thumbnail"-->
<!--                                                 alt="img" width="600" height="778">Chair AAC&nbsp;-->
<!--                                        </a>-->
<!--                                        <span class="quantity">1 × <span-->
<!--                                                class="furgan-Price-amount amount"><span-->
<!--                                                class="furgan-Price-currencySymbol">$</span>139.00</span></span>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                <p class="furgan-mini-cart__total total"><strong>Subtotal:</strong>-->
<!--                                    <span class="furgan-Price-amount amount"><span-->
<!--                                            class="furgan-Price-currencySymbol">$</span>418.00</span>-->
<!--                                </p>-->
<!--                                <p class="furgan-mini-cart__buttons buttons">-->
<!--                                    <a th:href="@{cart.html}" class="button furgan-forward">Viewcart</a>-->
<!--                                    <a th:href="@{checkout.html}" class="button checkout furgan-forward">Checkout</a></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->
<div class="banner-wrapper has_background">
    <img th:src="@{assets/images/banner-for-all2.jpg}"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">Client</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a th:href="@{index.html}"><span>Home</span></a></li>
                <li class="trail-item trail-end active"><span>Client</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<main class="site-main main-container no-sidebar">
    <div class="section-001 section-006">
        <div class="container">
            <div class="furgan-slide">
                <div class="owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:60,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:5,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;40&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;50&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;60&quot;}}]">
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in "><img
                                    th:src="@{assets/images/brand-logo-1.png}"
                                    class="az_single_image-img attachment-full" alt="img">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper  az_box_border_grey effect bounce-in "><img
                                    th:src="@{assets/images/brand-logo-5.png}"
                                    class="az_single_image-img attachment-full" alt="img">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in "><img
                                    th:src="@{assets/images/brand-logo-4.png}"
                                    class="az_single_image-img attachment-full" alt="img">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in"><img
                                    th:src="@{assets/images/brand-logo-3.png}"
                                    class="az_single_image-img attachment-full" alt="img">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper  az_box_border_grey effect bounce-in "><img
                                    th:src="@{assets/images/brand-logo-2.png}"
                                    class="az_single_image-img attachment-full" alt="img">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer id="footer" class="footer style-01">
    <div class="section-001 section-009">
        <div class="container">
            <div class="furgan-newsletter style-01">
                <div class="newsletter-inner">
                    <div class="newsletter-info">
                        <div class="newsletter-wrap">
                            <h3 class="title">Newsletter</h3>
                            <h4 class="subtitle">Get Discount 30% Off</h4>
                            <p class="desc">Suspendisse netus proin eleifend fusce sollicitudin potenti vel magnis
                                nascetur</p>
                        </div>
                    </div>
                    <div class="newsletter-form-wrap">
                        <div class="newsletter-form-inner">
                            <input class="email email-newsletter" name="email" placeholder="Enter your email ..."
                                   type="email">
                            <a href="#" class="button btn-submit submit-newsletter">
                                <span class="text">Subscribe</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-010">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyright 2020 Furgan</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <div class="furgan-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                        <i class="fa fa-facebook"></i>
                                </li>
                                <li>
                                        <i class="fa fa-instagram"></i>
                                </li>
                                <li>
                                        <i class="fa fa-twitter"></i>
                                </li>
                                <li>
                                        <i class="fa fa-pinterest-p"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a th:href="@{index.html}">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a th:href="@{wishlist.html}">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a th:href="@{cart.html}">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a th:href="@{my-account.html}">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop active">
    <i class="fa fa-angle-double-up"></i>
</a>
<script th:src="@{assets/js/jquery-1.12.4.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/chosen.min.js}"></script>
<script th:src="@{assets/js/countdown.min.js}"></script>
<script th:src="@{assets/js/jquery.scrollbar.min.js}"></script>
<script th:src="@{assets/js/lightbox.min.js}"></script>
<script th:src="@{assets/js/magnific-popup.min.js}"></script>
<script th:src="@{assets/js/slick.js}"></script>
<script th:src="@{assets/js/jquery.zoom.min.js}"></script>
<script th:src="@{assets/js/threesixty.min.js}"></script>
<script th:src="@{assets/js/jquery-ui.min.js}"></script>
<script th:src="@{assets/js/mobilemenu.js}"></script>
<script src='http://www.google.cn/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>
<script th:src="@{assets/js/functions.js}"></script>
</body>
</html>