<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.png}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/animate.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/chosen.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/jquery.scrollbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/lightbox.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/magnific-popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/slick.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/fonts/flaticon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/megamenu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/dreaming-attribute.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/style.css}"/>
    <script th:src="@{/assets/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/chosen.min.js}"></script>
    <script th:src="@{/assets/js/countdown.min.js}"></script>
    <script th:src="@{/assets/js/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/assets/js/lightbox.min.js}"></script>
    <script th:src="@{/assets/js/magnific-popup.min.js}"></script>
    <script th:src="@{/assets/js/slick.js}"></script>
    <script th:src="@{/assets/js/jquery.zoom.min.js}"></script>
    <script th:src="@{/assets/js/threesixty.min.js}"></script>
    <script th:src="@{/assets/js/jquery-ui.min.js}"></script>
    <script th:src="@{/assets/js/mobilemenu.js}"></script>
    <script src='http://www.google.cn/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>
    <script th:src="@{/assets/js/functions.js}"></script>
    <script type="text/javascript" th:src="@{/js/shoppingchart.js}"></script>

    <title>Furgan - HTML Template </title>
</head>
<body>

        <header id="header" class="header style-02 header-dark">
        <div class="header-wrap-stick">
            <div class="header-position">
                <div class="header-middle">
                    <div class="furgan-menu-wapper"></div>
                    <div class="header-middle-inner">
                        <div class="header-search-menu">
                            <div class="block-menu-bar">
                                <a class="menu-bar menu-toggle" href="#">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                        <div class="header-logo-nav">
                            <div class="header-logo">
                                <a th:href="@{/}">
                                    <img alt="Furgan" th:src="@{/assets/images/logo.png}" class="logo">
                                </a>
                            </div>
                            <div class="box-header-nav menu-nocenter">
                                <ul id="menu-primary-menu"
                                    class="clone-main-menu furgan-clone-mobile-menu furgan-nav main-menu">
                                    <li id="menu-item-230"
                                        class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230 parent parent-megamenu item-megamenu menu-item-has-children">
                                        <a class="furgan-menu-item-title" title="Home" th:href="@{/}">Home</a>
                                    </li>
                                    <li id="menu-item-228"
                                        class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-228 parent parent-megamenu item-megamenu menu-item-has-children">
                                        <a class="furgan-menu-item-title" title="Clothing"
                                           th:href="@{/search/wear}">Clothing</a>
                                    </li>
                                    <li id="menu-item-229"
                                        class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-229 parent parent-megamenu item-megamenu menu-item-has-children">
                                        <a class="furgan-menu-item-title" title="Furniture" href="#">Furniture</a>
                                    </li>
                                    <li id="menu-item-996"
                                        class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-996 parent parent-megamenu item-megamenu menu-item-has-children">
                                        <a class="furgan-menu-item-title" title="Jewelery"
                                           th:href="@{/search/jewelery}">Jewelery</a>
                                    </li>
                                    <li id="menu-item-237"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-237 parent">
                                        <a class="furgan-menu-item-title" title="Sales"
                                           th:href="@{/search/Sales}">Sales</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-control">
                            <div class="header-control-inner">
                                <div class="meta-dreaming">
                                    <div class="header-search furgan-dropdown">
                                        <div class="header-search-inner" data-furgan="furgan-dropdown">
                                            <a href="#" class="link-dropdown block-link">
                                                <span class="flaticon-magnifying-glass-1"></span>
                                            </a>
                                        </div>
                                        <div class="block-search">
                                            <form th:action="@{/search/}" role="search" method="get"
                                                  class="form-search block-search-form furgan-live-search-form">
                                                <div class="form-content search-box results-search">
                                                    <div class="inner">
                                                        <input th:name="name" autocomplete="off" class="searchfield txt-livesearch input"
                                                               name="s" value="" placeholder="Search here..." type="text">
                                                    </div>
                                                </div>
                                                <div class="category">
                                                    <select title="product_cat" name="product_cat" id="64788262"
                                                            class="category-search-option"
                                                            tabindex="-1" style="display: none;">
                                                        <option value="0">All Categories</option>
                                                        <option class="level-0" value="light">Light</option>
                                                        <option class="level-0" value="chair">Chair</option>
                                                        <option class="level-0" value="table">Table</option>
                                                        <option class="level-0" value="bed">Bed</option>
                                                        <option class="level-0" value="new-arrivals">New arrivals</option>
                                                        <option class="level-0" value="lamp">Lamp</option>
                                                        <option class="level-0" value="specials">Specials</option>
                                                        <option class="level-0" value="sofas">Sofas</option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn-submit">
                                                    <span class="flaticon-magnifying-glass-1"></span>
                                                </button>
                                            </form><!-- block search -->
                                        </div>
                                    </div>
                                    <div class="furgan-dropdown-close">x</div>
                                    <div class="menu-item block-user block-dreaming furgan-dropdown">
                                        <a class="block-link" href="#">
                                            <span class="flaticon-profile"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--orders">
                                                <a th:href="@{/order}">Orders</a>
                                            </li>
                                            <li sec:authorize="isAuthenticated()" class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--customer-logout">
                                                <form th:action="@{/logout}" method="post">
                                                    <input type="submit" value="Sign Out"/>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="block-minicart block-dreaming furgan-mini-cart furgan-dropdown">
                                        <div class="shopcart-dropdown block-cart-link" data-furgan="furgan-dropdown">
                                            <a class="block-link link-dropdown" href="#">
                                                <span class="flaticon-cart"></span>
                                                <span class="count" id="cart-count">0</span>
                                            </a>
                                        </div>
                                        <div class="widget furgan widget_shopping_cart">
                                            <div class="widget_shopping_cart_content">
                                                <ul id="navbar-cart" class="furgan-mini-cart cart_list product_list_widget">
                                                </ul>
                                                <p class="furgan-mini-cart__buttons buttons">
                                                    <a th:href="@{/cart}" class="button furgan-forward">Viewcart</a>
                                                    <a th:href="@{/checkout}" class="button checkout furgan-forward">Checkout</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-mobile">
            <div class="header-mobile-left">
                <div class="block-menu-bar">
                    <a class="menu-bar menu-toggle" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <div class="header-search furgan-dropdown">
                    <div class="header-search-inner" data-furgan="furgan-dropdown">
                        <a href="#" class="link-dropdown block-link">
                            <span class="flaticon-magnifying-glass-1"></span>
                        </a>
                    </div>
                    <div class="block-search">
                        <form role="search" method="get"
                              class="form-search block-search-form furgan-live-search-form">
                            <div class="form-content search-box results-search">
                                <div class="inner">
                                    <input autocomplete="off" class="searchfield txt-livesearch input" name="s" value=""
                                           placeholder="Search here..." type="text">
                                </div>
                            </div>
                            <div class="category">
                                <select title="product_cat" name="product_cat" class="category-search-option">
                                    <option value="0">All Categories</option>
                                    <option class="level-0" value="light">Light</option>
                                    <option class="level-0" value="chair">Chair</option>
                                    <option class="level-0" value="table">Table</option>
                                    <option class="level-0" value="bed">Bed</option>
                                    <option class="level-0" value="new-arrivals">New arrivals</option>
                                    <option class="level-0" value="lamp">Lamp</option>
                                    <option class="level-0" value="specials">Specials</option>
                                    <option class="level-0" value="sofas">Sofas</option>
                                </select>
                            </div>
                            <button type="submit" class="btn-submit">
                                <span class="flaticon-magnifying-glass-1"></span>
                            </button>
                        </form><!-- block search -->
                    </div>
                </div>
                <ul class="wpml-menu">
                    <li class="menu-item furgan-dropdown block-language">
                        <a href="#" data-furgan="furgan-dropdown">
                            <img th:src="@{/assets/images/en.png}"
                                 alt="en">
                            English
                        </a>
                        <span class="toggle-submenu"></span>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="#">
                                    <img th:src="@{/assets/images/it.png}"
                                         alt="it">
                                    Italiano
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <div class="wcml-dropdown product wcml_currency_switcher">
                            <ul>
                                <li class="wcml-cs-active-currency">
                                    <a class="wcml-cs-item-toggle">USD</a>
                                    <ul class="wcml-cs-submenu">
                                        <li>
                                            <a>EUR</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header-mobile-mid">
                <div class="header-logo">
                    <a th:href="@{index.html}"><img alt="Furgan" th:src="@{/assets/images/logo.png}" class="logo"></a>
                </div>
            </div>
            <div class="header-mobile-right">
                <div class="header-control-inner">
                    <div class="meta-dreaming">
                        <div class="menu-item block-user block-dreaming furgan-dropdown">
                            <a class="block-link" href="#">
                                <span class="flaticon-profile"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--dashboard is-active">
                                    <a href="#">Dashboard</a>
                                </li>
                                <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--orders">
                                    <a href="#">Orders</a>
                                </li>
                                <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--downloads">
                                    <a href="#">Downloads</a>
                                </li>
                                <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--edit-adchair">
                                    <a href="#">Address</a>
                                </li>
                                <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--edit-account">
                                    <a href="#">Account details</a>
                                </li>
                                <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--customer-logout">
                                    <a href="#">Logout</a>
                                </li>
                            </ul>
                        </div>
                        <script type="text/javascript" th:src="@{/js/shoppingchart.js}"></script>
                        <script type="text/javascript">
                            showInNavBar();
                        </script>
                        <div class="block-minicart block-dreaming furgan-mini-cart furgan-dropdown">
                            <div class="shopcart-dropdown block-cart-link" data-furgan="furgan-dropdown">
                                <a class="block-link link-dropdown" href="#">
                                    <span class="flaticon-cart"></span>
                                    <span class="count">3</span>
                                </a>
                            </div>
                            <div class="widget furgan widget_shopping_cart">
                                <div class="widget_shopping_cart_content">
                                    <ul class="furgan-mini-cart cart_list product_list_widget">
                                    </ul>
                                    <p class="furgan-mini-cart__buttons buttons">
                                        <a class="button furgan-forward">Viewcart</a>
                                        <a class="button checkout furgan-forward">Checkout</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

</body>
</html>