﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.png}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/animate.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/chosen.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/jquery.scrollbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/lightbox.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/magnific-popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/slick.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/fonts/flaticon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/megamenu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/dreaming-attribute.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/style.css}"/>
    <script th:src="@{/assets/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/chosen.min.js}"></script>
    <script th:src="@{/assets/js/countdown.min.js}"></script>
    <script th:src="@{/assets/js/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/assets/js/lightbox.min.js}"></script>
    <script th:src="@{/assets/js/magnific-popup.min.js}"></script>
    <script th:src="@{/assets/js/slick.js}"></script>
    <script th:src="@{/assets/js/jquery.zoom.min.js}"></script>
    <script th:src="@{/assets/js/threesixty.min.js}"></script>
    <script th:src="@{/assets/js/jquery-ui.min.js}"></script>
    <script th:src="@{/assets/js/mobilemenu.js}"></script>
    <script th:src="@{/assets/js/functions.js}"></script>
    <script type="text/javascript" th:src="@{/js/shoppingchart.js}"></script>

    <title>Furgan - HTML Template </title>
</head>
<body>
<header th:insert="header.html :: header"> </header>
<div class="fullwidth-template">
    <div class="slide-home-01">
        <div class="response-product product-list-owl owl-slick equal-container better-height"
             data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:1}"
             data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}}]">
            <div class="slide-wrap">
                <img th:src="@{assets/images/slide2222.jpg}" alt="image">
                <div class="slide-info">
                    <div class="container">
                        <div class="slide-inner">
                            <h5>New Arrivals</h5>
                            <h1>Inspired Chair</h1>
                            <h2>Big Sale</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-wrap">
                <img th:src="@{assets/images/slide11new.jpg}" alt="image">
                <div class="slide-info">
                    <div class="container">
                        <div class="slide-inner">
                            <h5>Best Selling</h5>
                            <h1><span>Trend</span> White</h1>
                            <h2>Light</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-wrap">
                <img th:src="@{assets/images/slide333.jpg}" alt="image">
                <div class="slide-info">
                    <div class="container">
                        <div class="slide-inner">
                            <h5>This Week Only</h5>
                            <h1>Mega Sale</h1>
                            <h2>50% Off</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <button id="btn-search" onclick="fire_ajax_submit()">Search!!!!!!!!!!!!!!!!!!!!!!!!</button>-->
<!--    <div id="feedback">123123</div>-->
    <script type="text/javascript">
        function fire_ajax_submit() {
            var search = {
                "productID":"2",
                "productName":"Orange",
                "productDesc":"Organic Orange from CA",
                "productPrice":3,
                "warehouseID":1,
                "quantity": 100000

            };
            $("#btn-search").prop("disabled", true);
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/purchaseMoreProducts",
                data: JSON.stringify(search),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    var json = "<h4>Ajax Response</h4>&lt;pre&gt;"
                        + JSON.stringify(data, null, 4) + "&lt;/pre&gt;";
                    $('#feedback').html(json);

                    console.log("SUCCESS : ", data);
                    $("#btn-search").prop("disabled", false);

                },
                error: function (e) {

                    var json = "<h4>Ajax Response</h4>&lt;pre&gt;"
                        + e.responseText + "&lt;/pre&gt;";
                    $('#feedback').html(json);

                    console.log("ERROR : ", e);
                    $("#btn-search").prop("disabled", false);

                }
            });

        }
    </script>

    <div class="section-001">
        <div class="container">
            <div class="furgan-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">Featured Products </h3>
                    <div class="subtitle">Made with care for your little ones, our products are perfect for every
                        occasion. Check it out.
                    </div>
                </div>
            </div>
            <div class="furgan-products style-02">
                <div class="response-product product-list-owl owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:4,&quot;rows&quot;:2}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                    <div class="product-item featured_products style-02 rows-space-30 post-34 product type-product status-publish has-post-thumbnail product_cat-light product_cat-new-arrivals product_tag-light product_tag-hat product_tag-sock first instock sale featured shipping-taxable product-type-grouped"
                         th:each="product : ${products}" th:if="${!product.getProductUrl().isEmpty()}">
                        <div class="product-inner tooltip-top">
                            <div class="product-thumb">
                                <a class="thumb-link"
                                   th:href="@{'/product/' + ${product.getProductID()}}" tabindex="0">
                                    <img class="img-responsive"
                                         style="object-fit: cover; object-position: 100% 0; width: 300px; height: 337px;"
                                         th:src="${product.getProductUrl().iterator().next().url}"
                                         alt="Sweeper Funnel" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onnew"><span class="text">New</span></span></div>
                                <a th:href="@{'/product/' + ${product.getProductID()}}" class="button yith-wcqv-button">Quick View</a></div>
                            <div class="product-info">
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <h3 class="product-name product_title">
                                    <a href="#"
                                       tabindex="0" th:text="${product.getProductName()}">Sweeper Funnel</a>
                                </h3>
                                <span class="price">
                                    <span class="furgan-Price-amount amount">
                                        <span class="furgan-Price-currencySymbol">$</span>
                                        <span th:text="${product.getProductPrice()}">79.00</span>
                                    </span>
                                </span>
                            </div>
                            <div class="group-button clearfix">
                                <div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button show">
                                        <a href="#" class="add_to_wishlist">Add to Wishlist</a>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <a href="#" class="button product_type_grouped">
                                        View products</a></div>
                                <div class="furgan product compare-button">
                                    <a href="#" class="compare button">Compare</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<footer id="footer" class="footer style-01">
    <div class="section-010">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyright 2020 Furgan</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <div class="furgan-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                        <i class="fa fa-facebook"></i>
                                </li>
                                <li>
                                        <i class="fa fa-instagram"></i>
                                </li>
                                <li>
                                        <i class="fa fa-twitter"></i>
                                </li>
                                <li>
                                        <i class="fa fa-pinterest-p"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a th:href="@{index.html}">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a th:href="@{wishlist.html}">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a th:href="@{cart.html}">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a th:href="@{my-account.html}">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop active">
    <i class="fa fa-angle-double-up"></i>
</a>
</body>
</html>