<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <form method="post" th:action="@{/login}" class="form-signin">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group ${error != null ? 'has-error' : ''}">
            <span th:text="${message}">message</span>
            <label for="username">Username</label>:
            <input name="username" id="username" type="text" class="form-control" placeholder="Your name"
                   autofocus="true"/>
            <label for="password">Password</label>:
            <input name="password" id="password" type="password" class="form-control"/>
            <span th:text="${error}">error</span>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a th:href="@{/registration}">Create an account</a></h4>
        </div>
    </form>
</div>

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>