<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Mini Amazon</title>
    <link type="text/css" th:href="@{../static/css/bootstrap.min.css}" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{../static/css/common.css}" th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div id="react"></div>

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js}"></script>
<script th:src="@{built/bundle.js}"></script>

</body>
</html>