<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link type="text/css"  th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>

<div class="container">

    <form action="#" th:action="@{/registration}" th:object="${user}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Create your account</h2>
            <div class="form-group ${status.error ? 'has-error' : ''}">
                <input type="text" th:field="*{username}" class="form-control" placeholder="Username" autofocus="true" />
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</span>
            </div>

            <div class="form-group ${status.error ? 'has-error' : ''}">
                <input type="password" th:field="*{password}" class="form-control" placeholder="Password" />
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</span>
            </div>

            <div class="form-group ${status.error ? 'has-error' : ''}">
                <input type="password" th:field="*{passwordConfirm}"  class="form-control" placeholder="Confirm your password" />
                <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">error</span>
            </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

</div>

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
</body>
</html>