﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/favicon.png}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/animate.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/chosen.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.scrollbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/lightbox.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/magnific-popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/slick.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/fonts/flaticon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/megamenu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/dreaming-attribute.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/shoppingchart.js}"></script>
    <title>Furgan - HTML Template </title>
    <script th:src="@{/assets/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/chosen.min.js}"></script>
    <script th:src="@{/assets/js/countdown.min.js}"></script>
    <script th:src="@{/assets/js/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/assets/js/lightbox.min.js}"></script>
    <script th:src="@{/assets/js/magnific-popup.min.js}"></script>
    <script th:src="@{/assets/js/slick.js}"></script>
    <script th:src="@{/assets/js/jquery.zoom.min.js}"></script>
    <script th:src="@{/assets/js/threesixty.min.js}"></script>
    <script th:src="@{/assets/js/jquery-ui.min.js}"></script>
    <script th:src="@{/assets/js/mobilemenu.js}"></script>
    <script th:src="@{/assets/js/functions.js}"></script>
    <script type="text/javascript" th:src="@{/js/shoppingchart.js}"></script>
</head>
<body>
<header th:replace="header.html :: header"> </header>
<div class="banner-wrapper has_background">
    <img th:src="@{/assets/images/banner-for-all2.jpg}"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">Shop</h1>
    </div>
</div>
<div class="main-container shop-page right-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-xl-9 col-lg-8 col-md-8 col-sm-12 has-sidebar">
                <div class="shop-control shop-before-control">
                </div>
                <div class=" auto-clear equal-container better-height furgan-products">
                    <ul class="row products columns-3">
                        <li th:each=" product : ${products}" class="product-item wow fadeInUp product-item list col-md-12 post-24 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-table product_cat-new-arrivals product_tag-light product_tag-hat product_tag-sock first instock featured shipping-taxable purchasable product-type-variable has-default-attributes"
                            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
                            <div class="product-inner images">
                                <div class="product-thumb">
                                    <a class="thumb-link" href="#">
                                        <img class="img-responsive"
                                             style="object-fit: cover; object-position: 100% 0; width: 300px; height: 337px;"
                                             th:src="${product.getProductUrl().iterator().next().url}"
                                             alt="Moss Sofa" width="600" height="778">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew"><span class="text">New</span></span></div>
                                    <a href="#" class="button yith-wcqv-button" data-product_id="24">Quick View</a>
                                </div>
                                <div class="product-info">
                                    <div class="rating-wapper nostar">
                                        <h3 class="product-name product_title">
                                            <a href="#" th:href="@{'/product/' + ${product.getProductID()}}" th:text="${product.getProductName()}">Moss Sofa</a>
                                        </h3>
                                        <span class="price"><span class="furgan-Price-amount amount">
                                            <span class="furgan-Price-currencySymbol">$</span>45.00</span></span>
                                        <div class="furgan-product-details__short-description" th:text="${product.getProductDesc()}">
                                            description
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
<!--            <div class="sidebar col-xl-3 col-lg-4 col-md-4 col-sm-12">-->
<!--                <div id="widget-area" class="widget-area shop-sidebar">-->
<!--                    -->
<!--                </div>&lt;!&ndash; .widget-area &ndash;&gt;-->
<!--            </div>-->
        </div>
    </div>
</div>
<footer id="footer" class="footer style-01">

    <div class="section-010">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyright 2020 Furgan</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <div class="furgan-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="https://facebook.com" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="index.html">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a href="wishlist.html">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="cart.html">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="my-account.html">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop active">
    <i class="fa fa-angle-double-up"></i>
</a>

</body>
</html>