﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/favicon.png}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/animate.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/chosen.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.scrollbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/lightbox.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/magnific-popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/slick.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/fonts/flaticon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/megamenu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/dreaming-attribute.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}"/>
    <script th:src="@{/assets/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/chosen.min.js}"></script>
    <script th:src="@{/assets/js/countdown.min.js}"></script>
    <script th:src="@{/assets/js/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/assets/js/lightbox.min.js}"></script>
    <script th:src="@{/assets/js/magnific-popup.min.js}"></script>
    <script th:src="@{/assets/js/slick.js}"></script>
    <script th:src="@{/assets/js/jquery.zoom.min.js}"></script>
    <script th:src="@{/assets/js/threesixty.min.js}"></script>
    <script th:src="@{/assets/js/jquery-ui.min.js}"></script>
    <script th:src="@{/assets/js/mobilemenu.js}"></script>
    <script th:src="@{/assets/js/functions.js}"></script>
    <script type="text/javascript" th:src="@{/js/shoppingchart.js}"></script>
    <title>Furgan - HTML Template </title>
</head>
<body class="single single-product">
<header th:insert="header.html :: header"> </header>

<div class="single-thumb-vertical main-container shop-page no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="furgan-notices-wrapper"></div>
                <div id="product-27"
                     class="post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-variable has-default-attributes">
                    <div class="main-contain-summary">
                        <div class="contain-left has-gallery">
                            <div class="single-left">
                                <div class="furgan-product-gallery furgan-product-gallery--with-images furgan-product-gallery--columns-4 images">
                                    <a href="#" class="furgan-product-gallery__trigger">
                                        <img draggable="false" class="emoji" alt="🔍"
                                             th:src="@{https://s.w.org/images/core/emoji/11/svg/1f50d.svg}"></a>
                                    <div class="flex-viewport">
                                        <figure class="furgan-product-gallery__wrapper">
                                            <div class="furgan-product-gallery__image">
                                                <img alt="img"
                                                     style="object-fit: cover; object-position: 50% 0; width: 466px; height: 500px;"
                                                     th:src="${product.getProductUrl().iterator().next().url}">
                                            </div>
<!--                                            <div class="furgan-product-gallery__image">-->
<!--                                                <img th:src="@{/assets/images/apro134-1.jpg}"-->
<!--                                                     alt="img">-->
<!--                                            </div>-->
<!--                                            <div class="furgan-product-gallery__image">-->
<!--                                                <img th:src="@{/assets/images/apro132-1.jpg}"-->
<!--                                                     class="" alt="img">-->
<!--                                            </div>-->
<!--                                            <div class="furgan-product-gallery__image">-->
<!--                                                <img th:src="@{/assets/images/apro133-1.jpg}"-->
<!--                                                     class="" alt="img">-->
<!--                                            </div>-->
                                        </figure>
                                    </div>
<!--                                    <ol class="flex-control-nav flex-control-thumbs">-->
<!--                                        <li><img-->
<!--                                                th:src="@{/assets/images/apro131-2-100x100.jpg}"-->
<!--                                                alt="img">-->
<!--                                        </li>-->
<!--                                        <li><img-->
<!--                                                th:src="@{/assets/images/apro134-1-100x100.jpg}"-->
<!--                                                alt="img">-->
<!--                                        </li>-->
<!--                                        <li><img-->
<!--                                                th:src="@{/assets/images/apro132-1-100x100.jpg}"-->
<!--                                                alt="img">-->
<!--                                        </li>-->
<!--                                        <li><img-->
<!--                                                th:src="@{/assets/images/apro133-1-100x100.jpg}"-->
<!--                                                alt="img">-->
<!--                                        </li>-->
<!--                                    </ol>-->
                                </div>
                            </div>
                            <div class="summary entry-summary">
                                <div class="flash">
                                    <span class="onnew"><span class="text">New</span></span></div>
                                <h1 class="product_title entry-title" th:text="${product.getProductName()}">T-shirt with skirt</h1>
                                <p class="price">
                                    <span class="furgan-Price-amount amount">
                                        <span class="furgan-Price-currencySymbol">$</span>
                                        <span th:text="${product.getProductPrice()}">146.00</span>
                                    </span>
                                    </p>
                                <p class="stock in-stock">
                                    Availability: <span th:text="${product.getQuantity()}" > In stock</span>
                                </p>
                                <div class="furgan-product-details__short-description" th:text="${product.getProductDesc()}">
<!--                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac-->
<!--                                        turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor-->
<!--                                        sit amet, ante.</p>-->
<!--                                    <ul>-->
<!--                                        <li>Water-resistant fabric with soft lycra detailing inside</li>-->
<!--                                        <li>CLean zip-front, and three piece hood</li>-->
<!--                                        <li>Subtle branding and diagonal panel detail</li>-->
<!--                                    </ul>-->
                                </div>
                                <form class="variations_form cart">

                                    <div class="single_variation_wrap">
                                        <div class="furgan-variation single_variation"></div>
                                        <div class="furgan-variation-add-to-cart variations_button furgan-variation-add-to-cart-disabled">
                                            <div class="quantity">
                                                <span class="qty-label">Quantiy:</span>
                                                <div class="control">
                                                    <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                                    <input id="quantity" type="text" data-step="1" min="0" max="" name="quantity[25]" value="0" title="Qty" class="input-qty input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
                                                    <a class="btn-number qtyplus quantity-plus" href="#">+</a>
                                                </div>
                                            </div>
                                            <button type="button"
                                                    class="single_add_to_cart_button button"
                                                    id="add_to_cart_button"
                                                    th:data-product-id="${product.getProductID()}"
                                                    th:data-product-name="${product.getProductName()}"
                                                    th:data-product-desc="${product.getProductDesc()}"
                                                    th:data-product-img="${product.getProductUrl().iterator().next().url}"
                                                    th:data-product-price="${product.getProductPrice()}"
                                                    onclick="addToCart(this.getAttribute('data-product-id'), this.getAttribute('data-product-name'), this.getAttribute('data-product-desc'), this.getAttribute('data-product-img'), this.getAttribute('data-product-price'))">Add to cart</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button show">
                                        <a href="#" rel="nofollow"
                                           data-product-id="27" data-product-type="variable" class="add_to_wishlist">
                                            Add to Wishlist</a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="product_meta">
                                    <div class="wcml-dropdown product wcml_currency_switcher">
                                        <ul>
                                            <li class="wcml-cs-active-currency">
                                                <a class="wcml-cs-item-toggle">USD</a>
                                                <ul class="wcml-cs-submenu">
                                                    <li>
                                                        <a>EUR</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="sku_wrapper">SKU: <span class="sku" th:text="${product.getProductID()}">885B712</span></span>
                                    <span class="posted_in">Categories: <a href="#" rel="tag">New arrivals</a></span>
                                    <span id="error_info_add_to_cart" class="posted_in" style="color: #e4606d"></span>
                                </div>
                                <div class="furgan-share-socials">
                                    <h5 class="social-heading">Share: </h5>
                                    <a target="_blank" class="facebook" href="#">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                    <a target="_blank" class="twitter"
                                       href="#"><i class="fa fa-twitter"></i>
                                    </a>
                                    <a target="_blank" class="pinterest"
                                       href="#"> <i class="fa fa-pinterest"></i>
                                    </a>
                                    <a target="_blank" class="googleplus"
                                       href="#"><i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="footer style-01">
    <div class="section-010">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyright 2020 Ruji ZheYou</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <div class="furgan-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                        <i class="fa fa-facebook"></i>
                                </li>
                                <li>
                                        <i class="fa fa-instagram"></i>
                                </li>
                                <li>
                                        <i class="fa fa-twitter"></i>
                                </li>
                                <li>
                                        <i class="fa fa-pinterest-p"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a th:href="@{index.html}">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a th:href="@{wishlist.html}">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a th:href="@{cart.html}">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a th:href="@{my-account.html}">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop active">
    <i class="fa fa-angle-double-up"></i>
</a>

</body>
</html>